/* Center search bar in the navbar */
.navbar .form-control {
    border-radius: 20px;
    padding: 0.5rem;
  }
  
  .navbar .btn {
    border-radius: 20px;
    padding: 0.5rem 1rem;
  }
  
  /* Hover effect for links */
  .nav-link {
    color:white !important;
    /* transition: all 0.3s ease; */
  }
  
  .nav-link:hover {
    color: #007bff !important;
  }

 .cart-link {
  color: white;
  position: relative;
  font-weight: 500;
  text-decoration: none;
}

.cart-link:hover {
  color: #ffc107; 
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -11px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
}
